<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Index</title>
    <link rel="stylesheet" href="css/style_home.css" />
</head>

<body>

    <%- include('partials/_navigation') -%>

        <!-- Main page-->
        <main id="main">
            <div id="main-grid">
                <section id="main-textbox">
                    <h1>Hi, this is your homepage.</h1>
                    <p>You can list all users or logout using navigation bar above.</p>
                </section>
            </div>
        </main>